.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2em;
}

.Menu , .Quiz , .EndScreen{
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: rgb(75, 111, 240);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;
  margin: 1em;
}

.Menu input  {
  width: 50%;
  margin: 20px;
  font-size: 0.7em;
  border-radius: 5px;
}

.Menu button {
  border-radius: 3px;
  font-size: 0.8em;
  background-color: red;
  color: white;
  outline: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: column;
}

.options button {
  outline: none;
  font-size: 1em;
  margin: 5px;
  width: 11em;
  border-radius: 12px;
  padding: 5px;
}

.nextq button , .EndScreen button{
  font-size: 1em;
  margin: 8px;
  border: 2px solid wheat;
  border-radius: 5px;
  outline: none;
  background-color: red;
  color: white;
}



